body{

    background-color: wheat;

}

ol, ul { 
    list-style-type: none;
}

@media screen and (min-width: 48em){

    h1{

        text-align: center;
        grid-column: 1 / -1;

    }

    form{

        display: grid;
        grid-template-columns: 1fr 1fr;
        border: 1px solid red;

    }

    h2{

        text-align: center;
        grid-column: 1 / -1;
        border: 1px solid fuchsia;

    }

    p{

        grid-column: 1 / -1;

    }

    fieldset{

        border: none;

    }

    legend , select{

        grid-column: 1;

    }

    select{

        border: 1px solid red;
        grid-row: 11;
        padding-top: 10px;
        padding-bottom: 10px

    }

    .input1{

        grid-column: 1;
        grid-row: 13;
        padding-top: 10px;
        padding-bottom: 10px;

    }

    .input2{

        grid-column: 1;
        grid-row: 14;
        padding-top: 10px;
        padding-bottom: 10px;

    }
}